/*
Script Name: SongCharts
Description: Top Songs Charts and Music Search Engine Script.
Author: ArmorThemes
Author URI: http://www.armorthemes.com/
Version: 1.0                            
*******************************************************************************************
*******************************************************************************************                                                                                                           
 ___   __  _  _  __   __  _  _   __   ___  ____  ___ 
/ __) /  \( \( )/ _) / _)( )( ) (  ) (  ,)(_  _)/ __)
\__ \( () ))  (( (/\( (_  )__(  /__\  )  \  )(  \__ \
(___/ \__/(_)\_)\__/ \__)(_)(_)(_)(_)(_)\_)(__) (___/   

*******************************************************************************************
*******************************************************************************************								
*/
/*------------------ main -----------------------*/
@media (min-width: 768px) {
.container {max-width: 760px;}
}
.navbar {
    border-radius: 0px;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
@media (max-width: 992px) {
.bootstrap-select {margin-bottom: 10px;}
}
.badge {
cursor: default;
width: 40px;
height: 40px;
padding: 12px 0px 0px 0px;
font-size: 14px;
border-radius: 50%;
margin: 8px 0px 0px 10px;
transition: all .3s ease-out;   
}
.badge:hover{
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-ms-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg); 
}
p {white-space: pre-wrap;}
/* Back to top button */
#back-top {
	position: fixed;
	bottom: 10px;
	right: 15px;
	z-index: 1;
}
#back-top a {
	display: block;
	text-align: center;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
	border-radius: 50%;
	width: 45px;
	height: 45px;
}
/*#back-top a:hover {background:#C3020C;}*/
#back-top span {
color: #fff;
font-size: 16px;
margin-top: 12px;
margin-left: 2px;	
}
.ytplay {display:none;}